    <div>
        <table >
            <thead >
                <tr>
                    <th v-if="checkRows">
                        <input type="checkbox" :checked="IcheckedRowsToggle" @change="IcheckedRowsToggle = !IcheckedRowsToggle" />
                    </th>
                    <template v-for="ifield in IshowFields" >
                        <th 
                            :class=" [ifield,{ 'col-order' : Ifields[ifield].sortable }, (ifield == IorderBy) ? ((Iorder == 'DESC') ? 'desc' : 'asc'): '']" 
                            :data-key="ifield"
                            @click="colOrdering(ifield)"
                            :draggable="dragColumn"
                            @dragstart="handleDragStart"
                            @dragenter="handleDragEnter"
                            @dragover="handleDragOver"
                            @dragleave="handleDragLeave"
                            @drop="handleDrop"
                            @dragend="handleDragEnd"
                        >
                            {{Ifields[ifield].label}}
                        </th>
                    </template>
                </tr>
                <tr>
                    <th v-if="checkRows"></th>
                    <th v-for="ifield in IshowFields" :class=" [ifield]">
                        <template v-if="Ifields[ifield].filter">
                            <template v-if="Ifields[ifield].filter.slot">
                                <slot :name="Ifields[ifield].filter.slot"></slot>
                            </template>
                            <template v-else-if="Ifields[ifield].filter == true || Ifields[ifield].filter.type == 'input'">
                                <input :placeholder="Ifields[ifield].filter.placeholder" type="text" v-model="IfilterValues[ifield]" v-on:change="calcRows" />
                            </template>
                            <template v-else-if="Ifields[ifield].filter.type == 'select'">
                                <select v-model="IfilterValues[ifield]" v-on:change="calcRows">
                                    <option value=""></option>
                                    <option v-for="(oName, oKey) in Ifields[ifield].filter.options" :value="oKey">{{oName}}</option>
                                </select>
                            </template>
                        </template>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row,index) in Irows" :class="[(IcheckedRows.indexOf(index) >= 0) ? 'check-row' :'' ]">
                    <td v-if="checkRows">
                        <input type="checkbox" v-model="IcheckedRows" :value="index"/>
                    </td>
                    <template v-for="ifield in IshowFields">
                        <template v-if="Ifields[ifield].editable && IrowEditable[row[rowId]] && IrowEditable[row[rowId]][ifield]">
                            <td v-if="Ifields[ifield].editable.slot" class="cell-edit">
                                <slot :name="Ifields[ifield].filter.slot"></slot>
                            </td>
                            <td v-else :key="ifield" class="cell-edit" >
                                <input 
                                    type="text"  
                                    class="cell-edit-input"
                                    :value="row[ifield]" 
                                    :data-row-id="row[rowId]" 
                                    :data-field="ifield" 
                                    :data-index="index" 
                                />
                                <div class="btn-cell-edit-ok" :click="cellChangeSave" ></div>
                                <div class="btn-cell-edit-cancel" :click="cellChangeCancel"></div>
                            </td>
                        </template>
                        <template v-else >
                            <td v-if="Ifields[ifield].slot" :class="ifield">
                                <slot :name="Ifields[ifield].slot" :value="row[ifield]" :item="row" :index="index"></slot>
                            </td>
                            <td v-else
                                :key="ifield"
                                v-html="row[ifield]"
                                @dblclick="editCell(row[rowId],ifield, index)"
                            ></td>
                        </template>
                    </template>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td :colspan="Object.keys(fields).length">
                    <div>total: {{ItotalRows}}</div>
                    <div>
                        por pagina:
                        <select v-model="IperPage">
                            <option v-for="pp in IperPageOptions" :value="pp">{{pp}}</option>
                        </select>
                        <select v-model="Ipage">
                            <option v-for="pp in ItotalPages" :value="pp">{{pp}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td :colspan="Object.keys(fields).length">
                    <div>
                        <select v-model="IshowFields" multiple>
                            <option 
                                v-for="(field,ifield) in fields" 
                                :value="ifield" 
                                v-if="field.status != 'none' && field.status != 'fix'"
                            >
                                {{field.label}}
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
